@use './partials/_variables.scss' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import '@fortawesome/fontawesome-free/scss/solid.scss'; 
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Raleway", sans-serif;
}

.text-rich-black {
    color: var(--rich-black);
}
.bg-rich-black {
    background-color: var(--rich-black);
}
.text-prussian-blue {
    color: var(--prussian-blue);
}
.bg-prussian-blue {
    background-color: var(--prussian-blue);
}
.text-cerulean {
    color: var(--cerulean);
}
.bg-cerulean {
    background-color: var(--cerulean);
}